<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGYQ1IYbLC7-ZMAlHzqXPlmwaQl-QNYOw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002778254209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gourmetApp</string>
	<key>PROJECT_ID</key>
	<string>gourmet-go-a9616</string>
	<key>STORAGE_BUCKET</key>
	<string>gourmet-go-a9616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002778254209:ios:1fbd39a84e3a86b5b6a680</string>
</dict>
</plist>